.Movie-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card {
  height: 100%;
}

.Card.Body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card.Img {
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
}

.Card.Title {
  color: #e50914;
  font-size: 18px;
  margin-bottom: 10px;
}

.Card.Text {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.Card.Text:first-child {
  margin-top: auto;
}
